@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/*=============================================
=            header Area Code            =
=============================================*/
.header {
  padding: 0;
  .video {
    position: relative;
  }
  #myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    h3 {
      font-weight: 600;
      font-size: 24px;
    }
  }
}
/*=============================================
=            media Query Code            =
=============================================*/

@media only screen and (max-width: 650px) {
}

/* Meida Quries IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
}

/* Media Quries IPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}
