/*=============================================
=            Header Area Code            =
=============================================*/
@import "_header.scss";
/*=============================================
=            body Area Code            =
=============================================*/
/*=============================================
=            Find US Code            =
=============================================*/
.find-us {
  background-image: url("../../img/findus.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  color: white;
  padding: 40px;
  h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
  label {
    margin: 25px 0;
    width: 100%;
    position: relative;
    left: -43px;
    input {
      width: 84%;
      outline: none;
      border: none;
      height: 35px;
      margin: 0;
    }
    span {
      width: 15%;
      line-height: 36px;
      background-color: #000;
      height: 36px;
      position: absolute;
    }
  }
  .icons {
    .fa {
      font-size: 22px;
      width: 35px;
      height: 35px;
      background-color: #000;
      line-height: 35px;
      margin: 3px;
    }
  }
}
/*=============================================
=            media Query Code            =
=============================================*/

@media only screen and (max-width: 650px) {
}

/* Meida Quries IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
}

/* Media Quries IPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/*=============================================
=            Footer Area Code            =
=============================================*/

@import "_footer.scss";
