/*=============================================
=            Footer Area Code            =
=============================================*/

.footer {
  border-top: 7px solid black;
  .footer-body {
    padding: 40px 0;
    font-size: 1rem;
    img {
      width: 65%;
      padding-bottom: 10px;
    }
    a {
      display: inline-block;
      margin: 5px 0;
      background-color: #38df65;
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      font-weight: 600;
      font-size: 17px;
    }
    .right-side {
      .content {
        padding: 10px;
        // background-color: #fbfbfb;
        .content-img {
          background-color: #fbfbfb;
          display: inline;
          img {
            width: 11%;
            // display: inline-block;
          }
        }
        .content-text {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          margin-left: 5px;

          h3 {
            // padding-top: 20px;

            font-size: 22px;
            font-weight: 600;
            margin-bottom: 0;
          }
          p {
            margin: 0;
            font-size: 15px;
          }
        }

        .content-btn {
          display: inline-block;
          padding-top: 17px;
          a {
            padding: 10px 40px;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .copyright {
    background-color: #000;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
  }
}

/*=============================================
=            media Query Code            =
=============================================*/

@media only screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }
}

/* Meida Quries IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
}

/* Media Quries IPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}
