/*=============================================
=            Header Area Code            =
=============================================*/
@import "_header.scss";
/*=============================================
=            body Area Code            =
=============================================*/
h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.dolor {
  padding: 0;
  overflow: hidden;
  .content {
    display: flex;
    width: 55%;
    height: 500px;
    margin: 0 -130px 0 -30px;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-color: white;
    .image {
      position: absolute;
      padding: 50px 70px 0 120px;
      transform: skew(10deg);
      z-index: 5;
    }
    h3 {
      color: #38df65;
      font-weight: 600;
      font-size: 1.6rem;
    }
    .sub-heading {
      font-weight: 600;
    }
  }
  .img {
    padding: 0;
    display: flex;
    width: 51.3%;
    img {
      height: 500px;
      width: 100%;
      margin-left: 75px;
      margin-right: 50px;
    }
  }
}
/*=============================================
=            analatical Code            =
=============================================*/

.analatical {
  position: relative;
  overflow: hidden;
  background-color: #cbcbcb;
  margin-bottom: 3px;
  .c-first {
    display: flex;
    height: 50px;
    text-align: center;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
    line-height: 50px;
    .image {
      display: flex;
      padding: 0 0 0 20%;
      text-align: center;
      position: absolute;
      transform: skew(10deg);
      color: white;
    }
  }
  .c-first.c1 {
    width: 35.65%;
    margin-left: -2%;
  }
  .c-first.c2 {
    width: 33%;
  }
  .c-first.c3 {
    width: 35%;
    margin-right: -2%;
    background-color: #aeaeae;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  .c-first.active {
    background-color: #38df65;
  }
}

/*=============================================
=            agree Code            =
=============================================*/

.agree {
  position: relative;
  overflow: hidden;
  background-color: #cbcbcb;
  .c-first {
    display: flex;
    height: 50px;
    text-align: center;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
    line-height: 50px;
    .image {
      display: flex;
      padding: 0 40%;
      text-align: center;
      position: absolute;
      transform: skew(10deg);
      color: white;
    }
  }
  .c-first.c1 {
    width: 35%;
    margin-left: -2%;
  }
  .c-first.c2 {
    width: 33%;
  }
  .c-first.c3 {
    width: 35%;
    margin-right: -2%;
    background-color: #aeaeae;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  .c-first.active {
    background-color: #38df65;
  }
}

/*=============================================
=            group            =
=============================================*/
.group {
  // background-image: url("../../img/aboutus.jpg");
  // background: url("../../img/aboutus.jpg") no-repeat 0, 0, 0, 0;
  background: url("../../img/aboutus.jpg") no-repeat 0,
    0 rgba(56, 223, 101, 0.73);
  background-blend-mode: soft-light;
  background-size: cover;
  position: relative;
  padding: 90px 0 70px 0;
  color: white;
  .row {
    z-index: 1;
    // opacity: 1;
  }
  a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
  }
}

/*=============================================
=            service            =
=============================================*/
.service {
  padding: 30px 0;
  h3 {
    color: #38df65;
  }
  p {
    margin: 0;
  }
}
/*=============================================
=            Find US Code            =
=============================================*/
.find-us {
  background: url("../../img/findus.jpg") no-repeat 0,
    0 rgba(56, 223, 101, 0.74);
  background-blend-mode: soft-light;

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  padding: 45px 0;

  p {
    font-size: 14px;
    margin: 0;
  }
  label {
    margin: 25px 0;
    width: 100%;
    position: relative;
    left: -43px;
    input {
      width: 84%;
      outline: none;
      border: none;
      height: 35px;
      margin: 0;
    }
    span {
      width: 15%;
      line-height: 36px;
      background-color: #000;
      height: 36px;
      position: absolute;
    }
  }
  .icons {
    .fa {
      font-size: 22px;
      width: 35px;
      height: 35px;
      background-color: #000;
      line-height: 35px;
      margin: 3px;
    }
  }
}

/*=============================================
=            Crushed Code            =
=============================================*/

.crushed {
  position: relative;
  overflow: hidden;
  color: white;
  .c-first {
    height: 350px;
    display: flex;
    width: 56%;
    margin: 0 0 0 -30px;
    // padding: 0 10px 0 0;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
    .image {
      background: url("../../img/b1.jpg") no-repeat 0, 0 rgba(0, 0, 0, 0.6);
      background-blend-mode: soft-light;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      right: -35px;
      padding: 100px 150px;
      transform: skew(10deg);
    }
  }
  .c-second {
    height: 350px;
    display: flex;
    width: 49%;
    margin: 0 -5% 0 0;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
    .image {
      background: url("../../img/b2.jpg") no-repeat 0, 0 rgba(0, 0, 0, 0.6);
      background-blend-mode: soft-light;
      background-position: center left;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: -29px;
      padding: 100px;
      transform: skew(10deg);
    }
  }

  .c-third {
    height: 350px;
    display: flex;
    width: 51.8%;
    margin: 0 0 0 -35px;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
    .image {
      background: url("../../img/b3.jpg") no-repeat 0, 0 rgba(0, 0, 0, 0.6);
      background-blend-mode: soft-light;

      background-position: center left;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      right: -6%;
      padding: 100px;
      transform: skew(10deg);
    }
  }
  .c-four {
    height: 350px;
    display: flex;
    width: 49%;
    width: 54%;
    margin: 0 -5% 0 0;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
    .image {
      background: url("../../img/b4.jpg") no-repeat 0, 0 rgba(0, 0, 0, 0.6);
      background-blend-mode: soft-light;

      background-position: center left;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: -30px;
      padding: 100px;
      transform: skew(10deg);
    }
  }

  p {
    font-size: 13px;
  }
  a {
    display: inline-block;
    margin: 5px 0;
    background-color: #38df65;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 17px;
  }
}
.products-page {
  .find-us {
    background: url("../../img/findus.jpg") no-repeat 0, 0 rgba(0, 0, 0, 0.6);
    background-blend-mode: soft-light;

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
    padding: 100px 0;
    h3 {
      font-size: 26px;
    }
  }
  .contruct {
    padding: 60px 0;
    .col-md-6 {
      padding: 5px;
    }
    .content {
      padding: 60px 40px;
      color: white;
      h3 {
        font-size: 22px;
        font-weight: 600;
      }
      a {
        display: inline-block;
        margin: 5px 0;
        background-color: #38df65;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        font-weight: 600;
        font-size: 17px;
      }
    }
    .c-first {
      background: url("../../img/b1.jpg") no-repeat 0, 0 rgba(31, 103, 51, 0.9);
      background-blend-mode: soft-light;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .c-second {
      background: url("../../img/b2.jpg") no-repeat 0, 0 rgba(31, 103, 51, 0.9);
      background-blend-mode: soft-light;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .c-third {
      background: url("../../img/b3.jpg") no-repeat 0, 0 rgba(31, 103, 51, 0.9);
      background-blend-mode: soft-light;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .c-four {
      background: url("../../img/b4.jpg") no-repeat 0, 0 rgba(31, 103, 51, 0.9);
      background-blend-mode: soft-light;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
/*=============================================
=            media Query Code            =
=============================================*/

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
  .dolor {
    margin-top: 250px;
    .content {
      display: flex;
      width: 100%;
      // height: 500px;
      margin: 0;
      height: 650px;
      transform: none;
      .image {
        padding: 20px;
        height: auto;
        transform: none;
        margin: 0;
        h3 {
          font-size: 20px;
        }
      }
    }
    .img {
      padding: 0;
      display: block;
      width: 100%;
      // margin-top: 100px;
      img {
        // overflow: hidden;
        display: block;
        height: auto;
        width: 100%;
        margin: 0;
      }
    }
  }
  .analatical {
    overflow: hidden;
    // margin-bottom: 10px;
    .c-first {
      margin: 0;
      transform: none;
      overflow: hidden;
      .image {
        padding: 0;
        padding-left: 30px;
        transform: none;
      }
    }
    .c-first.c1 {
      width: 100%;
      margin: 0;
    }
    .c-first.c2 {
      width: 100%;
      margin-left: -35px;
    }
    .c-first.c3 {
      width: 100%;
      margin: 0;
    }
  }
  .agree {
    // overflow: hidden;
    .c-first {
      margin: 0;
      transform: none;
      // overflow: hidden;
      .image {
        padding: 0;
        padding-left: 30px;
        transform: none;
      }
    }
    .c-first.c1 {
      width: 100%;
      margin: 0;
    }
    .c-first.c2 {
      width: 100%;
    }
    .c-first.c3 {
      width: 100%;
      margin: 0;
    }
  }
  .group {
    padding: 30px 0;
  }
  .crushed {
    overflow: hidden;
    // padding: 0 10px;
    .c-first {
      height: 225px;
      width: 100% !important;
      margin: 0;
      padding: 0;
      transform: none;
      .image {
        right: 0;
        padding: 10px;
        transform: none;
      }
    }
    .c-second {
      height: 225px;
      width: 100% !important;
      margin: 0;
      transform: none;
      .image {
        left: 0px;
        // top: -30px;
        padding: 10px;
        transform: none;
      }
    }

    .c-third {
      height: 225px;
      width: 100% !important;
      margin: 0;
      transform: none;
      .image {
        right: 0;
        padding: 10px;
        transform: none;
      }
    }
    .c-four {
      height: 225px;
      width: 100% !important;
      margin: 0;
      transform: none;
      .image {
        left: 0;
        padding: 10px;
        margin: 0;
        transform: none;
      }
    }

    p {
      font-size: 13px;
    }
    a {
      display: inline-block;
      margin: 5px 0;
      background-color: #38df65;
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      font-weight: 600;
      font-size: 17px;
    }
  }
  .find-us label {
    left: -20px;
  }
  .contruct {
    padding: 20px 0 !important;
    margin-top: 300px;
    .content {
      padding: 20px 10px !important;
    }
  }
}

/* Meida Quries IPad */
@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .crushed {
    .c-first {
      height: 245px;
    }
  }
}

/* Meida Quries IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
}

/* Media Quries IPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/*=============================================
=            Footer Area Code            =
=============================================*/

@import "_footer.scss";
